body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
    position: absolute;
    background: #0B615E;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}

.caixa2 {
    position: absolute;
    background: #088A85;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 205px;
    bottom: 0;
}

.caixa3 {
    position: absolute;
    background: #0B2F3A;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 205px;
}
.menuPrincipal {
  position: relative;
  background: #81F7F3;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  color: #FFFFFF;
}
nav ul{
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li a:hover {
  background: rgb(157, 74, 212);
  color: #FFFFFF;
}
#aviao {
  width: 20%;
}
.caixaAviao {
  position: absolute;
  top: 50px;
  left: 0;
  width: 90%;
  height: 150px;
  background:rgb(242, 242, 239);
  margin: 20px;
  border-color: rgb(91, 210, 208);
  border-width: 20px;
  border-style: solid;
  padding: 20px;
}